*, *::before, *::after{
    box-sizing: border-box;
}



img {
    max-width: 100%;
}

header {
    min-height: 660px;
    background-color: #F3EED9;
    display: flex;
    align-items: center;
    text-align: center;
}

span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 4px;
    color: #222C2A;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 50px;
    color: #824936;
    margin-left: 50px;
    margin-right: 50px;
}


.section__one{
    background: white;
}


.container{
    max-width: 1128px;
    margin: 0 auto;
    padding-top: 2em;

}

.section__one-title {
    color: #824936;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 1em;
}

.paragraph__container {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 1.5em;
    padding-bottom: 4em;
}

.paragraph__container p {
    color: #0a4e42;
}

.paragraph__container p + p {
    margin-left: 3em;
}

.section__two{
    background: #222C2A;
    max-width: 100%;
}

.section__two .container {
    display: flex;
    flex-direction: row;
    padding-bottom: 4em;
    padding-top: 4em;
}

.section__two-title{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    color: #F3EED9;
    line-height: 1.5em;
}

.section__two-text {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

.custom__img {
    max-width: 100%;
    align-self: flex-start;
    margin-left: 2em;
}

.section__three{
    background: #824936;
    max-width: 100%;
}

.section__three .container {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4em;
    padding-top: 4em;
}

.section__three-title{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    color: #F3EED9;
    line-height: 1.5em;
}

.section__three-text {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

.care__img {
    max-width: 100%;
    align-self: flex-start;
    margin-right: 2em;
}


@media only screen and (max-width: 1000px){
    .paragraph__container {
        flex-direction: column;
    }
    .paragraph__container p + p {
        margin-left: 0;
    }
    .section__two .container {
        display: block;
    }
    .custom__img {
        margin-left: 0 auto;
        margin-top: 2em;
        max-width: 300px;
    }
    .section__three .container {
        display: block;
    }
    .care__img {
        margin-left: 0 auto;
        margin-top: 2em;
        max-width: 300px;
}

