*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: white;
}

.container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.hero__text{
    width: 75%;
}

h1{
    font-size: 3rem;
    font-weight: 700;
}

p{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 3em;
}


 .button{
    display: inline-block;
    background-color: #38CFD9;
    border-radius: 31.5px;
    color: #072A2D;
    padding: 0.75em 2em;
    font-weight: 900;
}

.button:hover,
.button:focus {
    opacity: .75;
    cursor: pointer;
}

